
## <summary>policy for lisynetwork</summary>


########################################
## <summary>
##	Transition to lisynetwork.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`lisynetwork_domtrans',`
	gen_require(`
		type lisynetwork_t, lisynetwork_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, lisynetwork_exec_t, lisynetwork_t)
')


########################################
## <summary>
##	Execute lisynetwork server in the lisynetwork domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lisynetwork_initrc_domtrans',`
	gen_require(`
		type lisynetwork_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, lisynetwork_initrc_exec_t)
')


########################################
## <summary>
##	Search lisynetwork lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lisynetwork_search_lib',`
	gen_require(`
		type lisynetwork_var_lib_t;
	')

	allow $1 lisynetwork_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read lisynetwork lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lisynetwork_read_lib_files',`
	gen_require(`
		type lisynetwork_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, lisynetwork_var_lib_t, lisynetwork_var_lib_t)
')

########################################
## <summary>
##	Manage lisynetwork lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lisynetwork_manage_lib_files',`
	gen_require(`
		type lisynetwork_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, lisynetwork_var_lib_t, lisynetwork_var_lib_t)
')

########################################
## <summary>
##	Manage lisynetwork lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lisynetwork_manage_lib_dirs',`
	gen_require(`
		type lisynetwork_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, lisynetwork_var_lib_t, lisynetwork_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a lisynetwork environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`lisynetwork_admin',`
	gen_require(`
		type lisynetwork_t;
		type lisynetwork_initrc_exec_t;
		type lisynetwork_var_lib_t;
	')

	allow $1 lisynetwork_t:process { ptrace signal_perms };
	ps_process_pattern($1, lisynetwork_t)

	lisynetwork_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 lisynetwork_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, lisynetwork_var_lib_t)

')

